<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MultiSupply S.A. - Dashboard</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" th:href="@{/styles/globals.css}">
  <link rel="stylesheet" th:href="@{/styles/dashboard.css}">
</head>

<body class="bg-background text-foreground">

  <div id="inventory-system" class="min-h-screen">

    <header th:replace="~{fragments/header :: header}"></header>

      <main class="container mx-auto px-4 py-6 sm:px-6 lg:px-8">
          <div id="tabs-container" class="space-y-6">

              <nav th:replace="~{fragments/nav :: nav-dashboard}"></nav>

              <div id="tab-dashboard-content" data-tab-content="dashboard" class="tabs-content tabs-content-active space-y-6">

                  <!-- Tarjetas -->
                  <div th:replace="~{content/dashboard/Tarjetas :: dashboard-tarjetas}"></div>

                  <div class="grid gap-6 md:grid-cols-2">
                      <!-- Barras -->
                      <div th:replace="~{content/dashboard/Barras :: Dashboard-Barras}"></div>

                      <!-- Ordenes -->
                      <div th:replace="~{content/dashboard/Ordenes :: Dashboard-Ordenes}"></div>

                  </div>
              </div>

          </div>
      </main>
  </div>

  <script th:src="@{/scripts/main.js}"></script>
  <script th:src="@{/scripts/dashboard.js}"></script>
</body>

</html>